@page "/"

<div id="map" style="width:100%;height:500px;"></div>


@code {
    [Inject]
    IJSRuntime JSRuntime { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeMap", null);

        }
    }

    [JSInvokable]
    public static void PinLocation(double latitude, double longitude)
    {

        Console.WriteLine(latitude);
    }
}






